<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>mysite</title>
    <link rel="stylesheet" href="../../../assets/css/mysite.css">
    <link rel="stylesheet" href="../../../assets/css/board.css">

</head>

<body>
    <div id="wrap">
        <div id="header" class="clearfix">
            <h1>MySite</h1>
            <ul class="clearfix">
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>
        </div>

        <div id="nav" class="clearfix">
            <ul>
                <li><a href="">입사지원서</a> </li>
                <li><a href="">게시판</a> </li>
                <li><a href="">갤러리</a> </li>
                <li><a href="">방명록</a> </li>
            </ul>
        </div>
        <div id="contents2" class="clearfix">
            <div id="aSide">
                <h2>게시판</h2>
                <ul>
                    <li><a href="">일반게시판</a></li>
                    <li><a href="">댓글게시판</a></li>
                </ul>
            </div>
            <div id="board">
                <div class="board-menu">일반게시판</div>
                <div class="read-info">
                    <label for="" class="read-group">작성자</label>
                    <p class="read-text">정우성</p>
                    <label for=""  class="read-group">조회수</label>
                    <p class="read-text">123</p>
                    <label for=""  class="read-group">작성일</label>
                    <p class="read-text">2020-03-02</p>
                    <label for=""  class="read-group">제목</label>
                    <p class="read-text">여기에는 글제목이 출력됩니다.</p>
                </div>
                <div class="read-read">
                    <p class="read-paragraph">
                        여기에는 본문 내용이 출력됩니다. <br>
                        여기에는 본문 내용이 출력됩니다. <br>
                        여기에는 본문 내용이 출력됩니다. <br>
                        여기에는 본문 내용이 출력됩니다. <br>
                        여기에는 본문 내용이 출력됩니다. <br>
                        여기에는 본문 내용이 출력됩니다. <br>
                        여기에는 본문 내용이 출력됩니다. <br>
                        여기에는 본문 내용이 출력됩니다. <br>
                        여기에는 본문 내용이 출력됩니다. <br>
                    </p>
                </div>
                <div class="read-btn">
                    <button>목록</button>
                    <button>수정</button>
                </div>
            </div>
        </div>
    
        <div id="footer">
            <p>
                Copyright (c)2024 김수빈 All rights reserved
            </p>
        </div>
    </div>
   
</body>

</html>