<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>mysite</title>
    <link rel="stylesheet" href="../../../assets/css/mysite.css">
    <link rel="stylesheet" href="../../../assets/css/board.css">
    <link rel="stylesheet" href="../../../assets/css/gallery.css">

</head>

<body>
    <div id="wrap">
        <div id="header" class="clearfix">
            <h1>MySite</h1>
            <ul class="clearfix">
                <li><a href="">로그인</a></li>
                <li><a href="">회원가입</a></li>
            </ul>
        </div>

        <div id="nav" class="clearfix">
            <ul>
                <li><a href="">입사지원서</a> </li>
                <li><a href="">게시판</a> </li>
                <li><a href="">갤러리</a> </li>
                <li><a href="">방명록</a> </li>
            </ul>
        </div>
        <div id="contents2" class="clearfix">
            <div id="aSide">
                <h2>갤러리</h2>
                <ul>
                    <li><a href="">일반갤러리</a></li>
                    <li><a href="">파일첨부연습</a></li>
                </ul>
            </div>
            <div id="board">
                <div class="board-menu">일반갤러리</div>
                <div class="upload-area clearfix">
                    <button id="upload">이미지올리기</button>
                </div>
                <div>
                    
                    <div class="img-box clearfix">
                        <img src="../../../assets/images/Gangho-dong.jpg" alt="" class="gal-img">
                        <p>작성자 : 유재석</p>

                    </div>
                    <div class="img-box clearfix">
                        <img src="../../../assets/images/Jeongjae-Lee.jpg" alt="" class="gal-img">
                        <p>작성자 : 유재석</p>
                    </div>
                    <div class="img-box clearfix">
                        <img src="../../../assets/images/JeonSoMin.jpg" alt="" class="gal-img">
                        <p>작성자 : 유재석</p>
                    </div>
                    <div class="img-box clearfix">
                        <img src="../../../assets/images/JiseokJin.jpg" alt="" class="gal-img">
                        <p>작성자 : 유재석</p>
                    </div>
                    <div class="img-box clearfix">
                        <img src="../../../assets/images/JungWooSung.jpg" alt="" class="gal-img">
                        <p>작성자 : 유재석</p>
                    </div>


                </div>


            </div>
        </div>
    
        <div id="footer">
            <p>
                Copyright (c)2024 김수빈 All rights reserved
            </p>
        </div>
    </div>
   
</body>

</html>